* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  font-size: 50px;
}